@model CRUD_ADO.Models.ProdutoModel

@{
    ViewData["Title"] = "Deletar";
}

<h2>Deseja realmente excluir o produto?</h2>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>

    <form asp-action="DeletarProduto">
            <input type="submit" value="EXCLUIR PRODUTO" class="btn btn-danger" /> 
            <a asp-action="Listar" class="btn btn-secondary">VOLTAR</a>
    </form>
    
@*@Html.ActionLink("Excluir Produto", "DeletarProdutoEfetivamente", new { id = Model.Id })*@

    @*@using (Html.BeginForm("DeletarProdutoEfetivamente", "Home", [HttpPost] ,new { prod = Model }))
            {

            }*@

     

</div>