@model CRUD_ADO.Models.ProdutoModel

@{
    ViewData["Title"] = "Detalhar";
}

<h2>DETALHES DO PRODUTO</h2>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    @if (this.User.IsInRole("admin"))
    {
        @Html.ActionLink("EDITAR", "Editar", new { id = Model.Id }, new { @class = "btn btn-warning" })
    }

    <a class="btn btn-secondary" asp-action="Listar">VOLTAR</a>
</div>
