@model CRUD_ADO.Models.ProdutoModel

@{
    ViewData["Title"] = "AdicionarNoCarrinho";
}

<h1>ESTE PRODUTO SERÁ ADICIONADO NO CARRINHO</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-controller="CrudProduto" asp-action="Listar">CONTINUAR COMPRANDO</a>
    <a class="btn btn-secondary"  asp-action="ListarProdutosDoCarrinho">IR PARA O CARRINHO</a>
</div>
